html, body { height: 100%; }

body {
	background: #000 url(../../../Users/Jorik/Downloads/archive/styles/bg.jpg) no-repeat;
    background-size: cover;
	margin: 0;
	overflow: hidden;
	cursor:default;
}

video,
canvas.canvasInput {
	display: none;
}

video.show {
    width: 100%;
    height: 100%;
    opacity: .1;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

canvas.canvasVideoSrc { display: none; }


#notification {
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	border: solid 1px #fff;
	color: #fff;
	border-radius: 20px;
	padding: 10px;
	font: 14px Arial;
	text-align: center;
	display: none;
}
#notification.show {
	display: block;
}
